<div class="subheader">
  <div class="current-date-label">
    <mat-label class="current-date-label">{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</mat-label>
  </div>
  <div class="period-buttons">
    <button mat-button class="period-button"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
    >
      Месяц
    </button>
    <button mat-button class="period-button"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
    >
      День
    </button>
  </div>
  <div class="navigation-buttons">
    <button mat-button mwlCalendarPreviousView class="navigation-button"
            [view]="view"
            [(viewDate)]="viewDate"
    >
      <mat-icon aria-hidden="false" aria-label="logout">keyboard_arrow_left</mat-icon>
    </button>
    <button mat-button mwlCalendarToday class="navigation-button"
            [(viewDate)]="viewDate"
    >
      <span class="lol">{{getFormattedDay()}}</span>
      <mat-icon aria-hidden="false" aria-label="logout">calendar_today</mat-icon>

    </button>
    <button mat-button mwlCalendarNextView class="navigation-button"
            [view]="view"
            [(viewDate)]="viewDate"
    >
      <mat-icon aria-hidden="false" aria-label="logout">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [refresh]="refresh"
    [activeDayIsOpen]="false"
    [weekStartsOn]="1"
    [events]="getAllEvents()"
    [locale]="locale"
    (dayClicked)="dayClicked($event.day)"
  >
  </mwl-calendar-month-view>
  <div *ngIf="view === CalendarView.Day" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-6" >
      <h5 style="text-align: center">Левая канатка</h5>
      <mwl-calendar-day-view
                             *ngSwitchCase="CalendarView.Day"
                             [viewDate]="viewDate"
                             [refresh]="refresh"
                             [locale]="locale"
                             [events]="eventsLeftCable"
                             [dayStartHour]="10"
                             [dayEndHour]="20"
                             (hourSegmentClicked)="hourClicked(0, $event.date)"
                             (eventClicked)="eventClick($event)"
      >
      </mwl-calendar-day-view>
    </div>

    <div class="col-md-6">
      <h5 style="text-align: center">Правая канатка</h5>
      <mwl-calendar-day-view
                             *ngSwitchCase="CalendarView.Day"
                             [viewDate]="viewDate"
                             [refresh]="refresh"
                             [locale]="locale"
                             [events]="eventsRightCable"
                             [dayStartHour]="10"
                             [dayEndHour]="20"
                             (hourSegmentClicked)="hourClicked(1, $event.date)"
                             (eventClicked)="eventClick($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>

</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<!--<h3>-->
<!--  Edit events-->
<!--  <button class="btn btn-primary float-right" (click)="addEvent()">-->
<!--    Add new-->
<!--  </button>-->
<!--  <div class="clearfix"></div>-->
<!--</h3>-->

<!--<div class="table-responsive">-->
<!--  <table class="table table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Primary color</th>-->
<!--      <th>Secondary color</th>-->
<!--      <th>Starts at</th>-->
<!--      <th>Ends at</th>-->
<!--      <th>Remove</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr *ngFor="let event of events">-->
<!--      <td>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          [(ngModel)]="event.title"-->
<!--          (keyup)="refresh.next()"-->
<!--        />-->
<!--      </td>-->
<!--      <td>-->
<!--        <input-->
<!--          type="color"-->
<!--          [(ngModel)]="event.color.primary"-->
<!--          (change)="refresh.next()"-->
<!--        />-->
<!--      </td>-->
<!--      <td>-->
<!--        <input-->
<!--          type="color"-->
<!--          [(ngModel)]="event.color.secondary"-->
<!--          (change)="refresh.next()"-->
<!--        />-->
<!--      </td>-->
<!--      <td>-->
<!--        <input-->
<!--          class="form-control"-->
<!--          type="text"-->
<!--          mwlFlatpickr-->
<!--          [(ngModel)]="event.start"-->
<!--          (ngModelChange)="refresh.next()"-->
<!--          [altInput]="true"-->
<!--          [convertModelValue]="true"-->
<!--          [enableTime]="true"-->
<!--          dateFormat="Y-m-dTH:i"-->
<!--          altFormat="F j, Y H:i"-->
<!--          placeholder="Not set"-->
<!--        />-->
<!--      </td>-->
<!--      <td>-->
<!--        <input-->
<!--          class="form-control"-->
<!--          type="text"-->
<!--          mwlFlatpickr-->
<!--          [(ngModel)]="event.end"-->
<!--          (ngModelChange)="refresh.next()"-->
<!--          [altInput]="true"-->
<!--          [convertModelValue]="true"-->
<!--          [enableTime]="true"-->
<!--          dateFormat="Y-m-dTH:i"-->
<!--          altFormat="F j, Y H:i"-->
<!--          placeholder="Not set"-->
<!--        />-->
<!--      </td>-->
<!--      <td>-->
<!--        <button class="btn btn-danger" (click)="deleteEvent(event)">-->
<!--          Delete-->
<!--        </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--<ng-template #modalContent let-close="close">-->
<!--  <div class="modal-header">-->
<!--    <h5 class="modal-title">Event action occurred</h5>-->
<!--    <button type="button" class="close" (click)="close()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <div>-->
<!--      Action:-->
<!--      <pre>{{ modalData?.action }}</pre>-->
<!--    </div>-->
<!--    <div>-->
<!--      Event:-->
<!--      <pre>{{ modalData?.event | json }}</pre>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-secondary" (click)="close()">-->
<!--      OK-->
<!--    </button>-->
<!--  </div>-->
<!--</ng-template>-->
